# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/swic/tools/subtitles
/swic/resources/subtitles
swic/resources/Japanese News.csv
swic/resources/fonts/HinaMincho-Regular.ttf
swic/resources/Buncha Anime.csv
swic/resources/Aozora Corpus.csv
/swic/sources/__pycache__
